.heroCta:hover .buttonDecorator {
    top: 0%;
  }
  .heroCta:hover  button{
    color: white;
    transition: all 0.5s ease;
  }
  .heroCta {
    position: relative;
    outline: 2px solid #56f9f9;
  }
  
  
  .buttonDecorator {
    position: absolute;
    background: #000000;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 100%;
    transition: all 0.5s ease;
    z-index: 2;
  }
  .buttonBg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    background: #56f9f9;

  }

  