.pop-up-left {
  align-self: flex-start;
}

.pop-up-right {
  align-self: flex-end;
}
.pop-up-center {
  align-self: center;
}

  
  
  
  /* Stile generale del popup */
  .pop-up {
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.178);
    backdrop-filter: blur(5px);
    text-transform: uppercase;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 24px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0 50px;
  }
  
  
  
  .pop-up-header {
    font-size: 40px;
    font-weight: bold;
    color: #2234d4;
    margin-bottom: 10px;
  }
  
  .pop-up-content {
    color: #ffffff;
    font-stretch: expanded;
    line-height: 100%;
    align-items: end;

}  
  .pop-up-footer {
   align-self: flex-end;
   outline: 1px solid black;
  }
  
  .pop-up-footer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pop-up-footer button:hover {
    background-color: #0056b3;
  }
  

  
  /* Media query per dispositivi mobili */
  @media (max-width: 600px) {
    .pop-up {
      width: 90%;  /* Occupa il 90% della larghezza dello schermo */
      height: auto;  /* Altezza automatica in base al contenuto */
      padding: 15px;  /* Ridurre il padding */
    }
  
    .pop-up-header {
      font-size: 20px;  /* Ridurre la dimensione del testo */
    }
  
    .pop-up-content {
      font-size: 14px;  /* Ridurre la dimensione del testo */
    }
  
    .pop-up-footer button {
      padding: 8px 12px;  /* Ridurre il padding dei bottoni */
      font-size: 14px;  /* Ridurre la dimensione del testo dei bottoni */
    }
  
    
  
    
  }
  